<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<div th:fragment="wares">
 <p>Click <a th:href="@{/newWare}">here</a> to add ware.</p>
	<table class="table table-bordered table-hover horizontal-align">
		<thead>
			<tr>
				<th style="width: 5%">#</th>
				<th style="width: 5%">Name</th>
				<th style="width: 10%">Moniker</th>	
				<th style="width: 10%">Model</th>					
				<th style="width: 5%">Price</th>
				<th style="width: 10%">szOrig</th>
				<th style="width: 10%">szRus</th>			
				<th style="width: 10%">Edit</th>
				<th style="width: 10%">Delete</th>				
			</tr>
		</thead>
		<tbody>
			<tr th:each="ware : ${wares}">
				<td th:text="${ware.id}">Id</td>			
				<td th:text="${ware.name}">Name</td>
				<td th:text="${ware.moniker}">Moniker</td>
				<td th:text="${ware.model.name}">Model</td>
			    <td th:text="${ware.price}">Price</td>
			    <td th:text="${ware.szOrig}">szOrig</td>
			    <td th:text="${ware.szRus}">szRus</td>			
			<td style="text-align: center"><a th:href="@{'/editware/{id}'(id=${ware.id})}"><i class="fa fa-edit" style="font-size:20px"></i></a></td>
            <td style="text-align: center"><a th:href="@{'/deleteware/{id}'(id=${ware.id})}"><i class="fa fa-trash" style="font-size:20px"></i></a></td>			
			</tr>
		</tbody>
	</table>
</div>

</html>