<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
	<div class="container">
		<div th:replace="fragments/header :: header"></div>
		<div class="container">
			<form class="form-horizontal" th:object="${saleStr}"
				th:action="@{/updateSaleStr}" name="edit_form" id="edit_form"
				method="post" role="form">
				<div class="form-group">
					<input type="hidden" id="id" th:name="id" th:value="*{id}" />
				</div>
				<table class="table table-bordered table-hover horizontal-align">
					<thead>
						<tr>
							<th style="width: 5%">Num</th>
							<th style="width: 10%">Sale</th>
							<th style="width: 10%">Ware</th>
							<th style="width: 5%">Discount</th>
							<th style="width: 10%">Qty</th>
							<th style="width: 10%">Summa</th>
							<th style="width: 10%">Nds</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input type="text" class="form-control" id="num"
								th:name="num" th:value="num" maxlength="100" /></td>

							<td><select th:field="*{sale}">
									<option th:each="sale : ${sales}" th:value="${sale.id}"
										th:text="${sale.num}"></option>
							</select></td>

							<td><select th:field="*{ware}">
									<option th:each="ware : ${wares}" th:value="${ware.id}"
										th:text="${ware.name}"></option>
							</select></td>
							
							<td><input type="number" class="form-control" id="price"
								th:name="discount" th:value="*{discount}" maxlength="100" /></td>
								
							<td><input type="number" class="form-control" id="qty"
								th:name="qty" th:value="*{qty}" maxlength="100" /></td>
								
							<td><input disabled type="number" class="form-control"
								id="summa" th:name="summa" th:value="*{summa}" maxlength="100" />
							</td>
							
							<td><input disabled type="number" class="form-control"
								id="nds" th:name="nds" th:value="*{nds}" maxlength="100" /></td>
						</tr>
					</tbody>
				</table>
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</body>
</html>