<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <div class="container">
    
        <form class="form-horizontal" th:object="${supplyStr}"  th:action="@{/saveSupplyStr}" name="input_form" id="input_form"
              method="post" role="form">
            <div class="form-group">
                <input type="text" class="form-control" id="num" th:name="num" placeholder="Enter your num" maxlength="100"/>
                <input type="number" class="form-control" id="price" th:name="price" placeholder="Enter your price" maxlength="100"/>
                <input type="number" class="form-control" id="qty" th:name="qty" placeholder="Enter your qty" maxlength="100"/>                             
                             
                <select id="supply" name="supply">
						<option th:each="supply : ${supplys}"
							th:value="${supply.id}" th:text="${supply.num}"></option>
				</select>	
				       <select id="ware" name="ware">
						<option th:each="ware : ${wares}"
							th:value="${ware.id}" th:text="${ware.name}"></option>
				</select>				      
				</div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</body>
</html>