<!DOCTYPE html>
<html lang="eng" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<div th:fragment="header">
	<nav class="navbar-default navbar-fixed-top">
		<div class="container">
			<nav>
				<ul class="topmenu">


					<li><a href="" class="down">Directory</a>
						<ul class="submenu">
							<li><a href="supplier.html" th:href="@{/filter}">Supplier</a></li>
							<li><a href="">Ctl node</a></li>
							<li><a href="">Model</a></li>
							<li><a href="ware.html" th:href="@{/ware}">Ware</a></li>
							<li><a href="clint.html">Client</a></li>
						</ul></li>

					<li><a href="" class="down">Documents</a>
						<ul class="submenu">
							<li><a href="priceWare.html" th:href="@{/priceWare}">Price ware</a></li>
							<li><a href="sale.html" th:href="@{/sale}">Sale List</a></li>
							<li><a href="supply.html" th:href="@{/supply}">Supply List</a></li>
							<li><a href="saleStr.html" th:href="@{/saleStr}">SaleStr List</a></li>
							<li><a href="supplyStr.html" th:href="@{/supplyStr}">SupplyStr
									List</a></li>
						</ul></li>
						
					<li><a href="" class="down">Reports</a>
						<ul class="submenu">
							<li><a href="">Aclual rest</a></li>
							<li><a href="">History rest</a></li>
							<li><a href="">Sale for month</a></li>
						</ul></li>
					<li>
						<form th:action="@{/logout}" method="post">
							<input type="submit" value="Sign Out" />
						</form>
					</li>
					
					<li><input type="search" class="form-control" id="filter"
						th:name="filter" placeholder="Search..." style="width: 80%" /></li>
				</ul>
			</nav>
		</div>
	</nav>
</div>
</html>







