<!DOCTYPE html>
<!--suppress ALL -->
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head"></head>
<body>
<div class="container">
    <div th:replace="fragments/header :: header"></div>
    <div class="container">
        <form class="form-horizontal" th:object="${supply}"  th:action="@{/saveSupply}" name="input_form" id="input_form"
              method="post" role="form">
            <div class="form-group">
                <input type="text" class="form-control" id="code" th:name="code" placeholder="Enter your name supply." maxlength="100"/>
                <input type="text" class="form-control" id="num" th:name="num" placeholder="Enter your num" maxlength="100"/>
                <input type="date" class="form-control" id="dt" th:name="dt" placeholder="Enter your dt" maxlength="100"/> 
           							
                <select id="supplier" name="supplier" >
						<option th:each="supplier : ${suppliers}"
							th:value="${supplier.id}" th:text="${supplier.name}"></option>
				</select>
				      <select id="state" name="state">
						<option th:each="state : ${states}"
							th:value="${state.id}" th:text="${state.state}"></option>
				</select>
				</div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</body>
</html>